td{
  height: 300px;
  width:150px;
  /*background: black;*/
  border: 6px solid white;
}

.art{
  margin: auto;
  /*this will center the table with class auto to center it*/
}

h1{
  font-family: 'Chilanka', cursive;
  text-align: center;
}
/*body{
  margin:auto;
  padding: 100px;
}
*/

/*264653
2A9D8F
E9C46A
F4A261
E76F51*/

#one{
  background-color: #264653;
}

#two{
  background-color: #2A9D8F;
}

#three{
  background-color: #E9C46A;
}

#four{
  background-color: #F4A261;
}

#five{
  background-color: #E76F51;
}
